<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.main.movie-mapper">
  <!-- 
     private int mno,cno;
     private String title,regdate,genre,nation,grade,time,story;
   -->
  <select id="movieListData" resultType="MovieVO">
    SELECT mno,title,regdate,genre,nation,grade,time,story
    FROM daum_movie WHERE cno=1
  </select>
</mapper>