<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.reply-mapper">
  <select id="replyListData" resultType="ReplyVO" parameterType="int">
    SELECT no,bno,id,name,msg,TO_CHAR(redate,'YYYY-MM-DD HH24:MI:SS') as dbday,group_tab
    FROM spring_reply
    WHERE bno=#{bno}
    ORDER BY group_id DESC,group_step ASC
  </select>
  <insert id="replyInsert" parameterType="ReplyVO">
   <!-- mybatis 자동 증가 번호 -->
   <selectKey keyProperty="no" resultType="int" order="BEFORE">
     SELECT NVL(MAX(no)+1,1) as no FROM spring_reply
   </selectKey>
   INSERT INTO spring_reply(no,bno,id,name,msg,group_id) VALUES(
     #{no},
     #{bno},
     #{id},
     #{name},
     #{msg},
     (SELECT NVL(MAX(group_id)+1,1) FROM spring_reply)
   )
  </insert>
  <update id="replyUpdate" parameterType="ReplyVO">
    UPDATE spring_reply SET
    msg=#{msg}
    WHERE no=#{no}
  </update>
  <!-- 댓글=>댓글 -->
  <!-- 
                           no   group_id  group_step  group_tab  root  depth
       AAAAAA              1        1          0          0        0     2
         =>EEEEEE          5        1          1          1        1     0
         =>BBBBBB          2        1          2          1        1     1
          =>CCCCCCC        3        1          3          2        2     1
           =>DDDDDDD       4        1          4          3        3     0
         
   -->
  <select id="replyParentInfoData" resultType="ReplyVO" parameterType="int">
   SELECT group_id,group_step,group_tab 
   FROM spring_reply
   WHERE no=#{no}
  </select>
  <!--  댓글의 핵심  -->
  <update id="replyGroupStepIncrement" parameterType="ReplyVO">
   UPDATE spring_reply SET
   group_step=group_step+1
   WHERE group_id=#{group_id} AND group_step>#{group_step}
  </update>
  <insert id="replyToReplyInsert" parameterType="ReplyVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) as no FROM spring_reply
    </selectKey>
    INSERT INTO spring_reply VALUES(
      #{no},
      #{bno},
      #{id},
      #{name},
      #{msg},
      SYSDATE,
      #{group_id},
      #{group_step},
      #{group_tab},
      #{root},
      0
    )
  </insert>
  <update id="replyDepthIncrement" parameterType="int">
    UPDATE spring_reply SET
    depth=depth+1
    WHERE no=#{no}
  </update>
  <!-- 댓글 삭제 -->
  <select id="replyInfoData" resultType="ReplyVO" parameterType="int">
    SELECT root,depth FROM spring_reply
    WHERE no=#{no}
  </select>
  <update id="replyMsgUpdate" parameterType="int">
    UPDATE spring_reply SET
    msg='관리자가 삭제한 댓글입니다'
    WHERE no=#{no}
  </update>
  <delete id="replyDelete" parameterType="int">
    DELETE FROM spring_reply
    WHERE no=#{no}
  </delete>
  <update id="depthDecrement" parameterType="int">
    UPDATE spring_reply SET
    depth=depth-1
    WHERE no=#{no}
  </update>
</mapper>

















