<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.sist.dao.BoardVO" alias="BoardVO"/>
    <typeAlias type="com.sist.dao.ReplyVO" alias="ReplyVO"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/sist/dao/board-mapper.xml"/>
    <mapper resource="com/sist/dao/reply-mapper.xml"/>
    <mapper resource="com/sist/dao/member-mapper.xml"/>
    <mapper resource="com/sist/emp/emp-mapper.xml"/>
  </mappers>
</configuration>