<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
      String sql="SELECT empno,ename,dname,loc "  => vo.setEmpno() vo.setEname() vo.setDname() vo.setLoc()
                +"FROM emp,dept "
                +"WHERE emp.deptno=dept.deptno;
      ResultSet rs=ps.executeQuery();
      while(rs.next())
      {
         EmpVO vo=new EmpVO();
         vo.setEmpno(rs.getInt(1));
         vo.setEname(rs.getString(2));
         vo.getDvo().setDname(rs.getString(3));
         vo.getDvo().setLoc(rs.getString(4));
      }
 -->
<mapper namespace="com.sist.dao.emp-mapper">
  <!-- MyBatis에서 JOIN일 경우에 Resultset을 설정한다 -->
  <resultMap type="com.sist.dao.EmpVO" id="empMap">
   <result property="empno" column="empno"/>
   <!-- vo.setEmpno(rs.getInt("empno")) -->
   <result property="ename" column="ename"/>
   <result property="job" column="job"/>
   <result property="mgr" column="mgr"/>
   <result property="hiredate" column="hiredate"/>
   <result property="sal" column="sal"/>
   <result property="comm" column="comm"/>
   <result property="deptno" column="deptno"/>
   <result property="dvo.dname" column="dname"/>
   <!-- vo.getDvo().setDname(rs.getString("dname")); -->
   <result property="dvo.loc" column="loc"/>
  </resultMap>
  <select id="empListData" resultType="EmpVO">
   SELECT * FROM emp
  </select>
  <select id="empdeptJoinData" resultMap="empMap">
    SELECT empno,ename,job,mgr,hiredate,sal,comm,emp.deptno,dname,loc
    FROM emp,dept
    WHERE emp.deptno=dept.deptno
  </select>
  <select id="empSubQueryData" resultType="empVO" parameterType="String">
    SELECT empno,ename,job,hiredate,sal
    FROM emp
    WHERE deptno=(SELECT deptno FROM emp WHERE ename=#{ename})
  </select>
</mapper>


















