<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 
      VO => 패키지가 길 경우에 사용 (별칭)
   -->
  <mappers>
    <mapper resource="com/sist/mapper/freeboard-mapper.xml"/>
    <!-- CURD(Insert,Update,Select,Delete) -->
    <mapper resource="com/sist/mapper/freeboard-reply-mapper.xml"/>
    <!-- Transaction  -->
  </mappers>
</configuration>