<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.sist.dao.EmpVO" alias="EmpVO"/>
    <typeAlias type="com.sist.dao.DeptVO" alias="DeptVO"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/sist/dao/emp-mapper.xml"/>
    <mapper resource="com/sist/dao/dept-mapper.xml"/>
  </mappers>
</configuration>